@font-face {
	font-family: 'AlteHaasGroteskBold';
	src: url('../fonts/AlteHaasGrotesk/AlteHaasGroteskBold/AlteHaasGroteskBold.eot');
	src: url('../fonts/AlteHaasGrotesk/AlteHaasGroteskBold/AlteHaasGroteskBold.woff') format('woff'),
		 url('../fonts/AlteHaasGrotesk/AlteHaasGroteskBold/AlteHaasGroteskBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI';
	src: url('../fonts/SegoeUI/SegoeUI.eot');
	src: url('../fonts/SegoeUI/SegoeUI.woff') format('woff'),
		 url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UniversLTLight';
	src: url('../fonts/UniversLT/UniversLTLight/UniversLTLight.eot');
	src: url('../fonts/UniversLT/UniversLTLight/UniversLTLight.woff') format('woff'),
		 url('../fonts/UniversLT/UniversLTLight/UniversLTLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
